@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300400700900&display=swap");
.for_text, .breadcrumbs_link, .filter_menu summary, .filter_right summary {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.breadcrumbs {
  background-color: #f8f3f4;
}

.breadcrumbs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs_items {
  list-style-type: none;
}

.breadcrumbs_items:not(:last-of-type)::after {
  content: '/';
  padding-left: 5px;
  padding-right: 5px;
}

.breadcrumbs_inner {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.breadcrumbs_inner h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0;
}

.breadcrumbs_link {
  color: #636363;
  text-decoration: none;
}

.breadcrumbs_link:hover {
  color: #f16d7f;
}

.active_breadcrumb {
  color: #f16d7f;
  font-weight: 600;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.filter_left_block {
  width: 360px;
  position: relative;
}

.main_filter_menu {
  padding: 12px 16px 0 16px;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.main_filter_menu summary {
  font-family: 'Lato';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  list-style-type: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.main_filter_menu summary:hover {
  color: #f16d7f;
}

.main_filter_menu summary:hover path {
  fill: #f16d7f;
}

.main_filter_menu[open] > summary {
  color: #f16d7f;
}

.main_filter_menu[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.main_filter_menu[open] > summary path {
  fill: #f16d7f;
}

.main_filter_menu svg {
  margin-left: 10px;
}

.main_filter_menu svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main_filter_dropdown_box {
  padding-top: 16px;
}

.dropdown_link_box {
  padding-top: 24px;
}

.dropdown_link {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #646464;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 28px;
  margin-left: 34px;
}

.dropdown_link:hover {
  color: #f16d7f;
}

.filter_dropdown_box {
  background: white;
  position: absolute;
  z-index: 100000;
  width: 360px;
  -webkit-box-shadow: 2px 8px 12px #22222240;
          box-shadow: 2px 8px 12px #22222240;
  margin-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter_menu {
  margin-bottom: 18px;
}

.filter_menu summary {
  list-style-type: none;
  font-family: 'Lato';
  color: #6F6E6E;
  letter-spacing: 0.7px;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0 10px 15px;
  border-left: 5px solid #f16d7f;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.filter_menu[open] summary {
  color: #f16d7f;
}

.dropdown_list {
  margin-top: 24px;
}

.filter_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}

.filter_right {
  margin-right: 28px;
  position: relative;
}

.filter_right summary {
  list-style-type: none;
  letter-spacing: 0.7px;
  color: #6F6E6E;
  cursor: pointer;
}

.filter_right svg {
  margin-left: 10px;
}

.filter_right_dropdown_list {
  background: white;
  position: absolute;
  -webkit-box-shadow: 2px 8px 12px #22222240;
          box-shadow: 2px 8px 12px #22222240;
  margin-top: 4px;
  padding: 0 28px 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

.filter_right summary:hover path {
  fill: #f16d7f;
}

.checkbox_box label {
  font-weight: 400;
  color: #646464;
  font-family: 'Lato';
  font-size: 14px;
}

.checkbox_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.filter_right_checkbox {
  margin-right: 8px;
}

.checkbox_box:hover label {
  color: #f16d7f;
}

.products_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
}

.product_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 360px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.product_card_link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: #222;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_card_description p {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-transform: none;
  margin-top: 12px;
  margin-bottom: 18px;
}

.product_card_button {
  position: absolute;
  width: 100%;
  top: 175px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.card_button {
  border: 1px solid #fff;
  padding: 10px 10px 10px 8px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_button_text {
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 8px;
}

.card_button:hover {
  border: 1px solid #f16d7f;
}

.card_button:hover .card_button_text {
  color: #f16d7f;
}

.card_button:hover path {
  fill: #f16d7f;
}

.product_card_description {
  padding: 25px 28px 20px 15px;
  background-color: #F8F8F8;
}

.product_card_description h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.product_card:hover {
  -webkit-box-shadow: 2px 8px 5px #dadada;
          box-shadow: 2px 8px 5px #dadada;
}

.product_card_img {
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.product_card:hover .product_card_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product_card:hover .product_card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_price {
  padding-top: 17px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.pagination_box {
  margin: 18px auto 0 auto;
}

.pagination {
  border: 1px solid #e5e5e5;
  padding: 12px 15px;
}

.pagination_page {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 16px;
  color: #e5e5e5;
  margin-right: 12px;
  font-weight: 400;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.pagination_page:hover {
  color: #f16d7f;
}

.pagination_page:hover path {
  fill: #f16d7f;
}

.last_pp_m {
  margin-right: 0px;
}
/*# sourceMappingURL=catalog.css.map */