@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300400700900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300400700900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300400700900&display=swap");
.for_text, .breadcrumbs_link, .filter_menu summary, .filter_right summary, .product_description h4, .pp_filter_summary, .burger_menu h2, .burger_menu_heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.breadcrumbs {
  background-color: #f8f3f4;
}

.breadcrumbs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs_items {
  list-style-type: none;
}

.breadcrumbs_items:not(:last-of-type)::after {
  content: '/';
  padding-left: 5px;
  padding-right: 5px;
}

.breadcrumbs_inner {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.breadcrumbs_inner h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0;
}

.breadcrumbs_link {
  color: #636363;
  text-decoration: none;
}

.breadcrumbs_link:hover {
  color: #f16d7f;
}

.active_breadcrumb {
  color: #f16d7f;
  font-weight: 600;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.filter_left_block {
  width: 360px;
  position: relative;
}

.main_filter_menu {
  padding: 12px 16px 0 16px;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.main_filter_menu summary {
  font-family: 'Lato';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  list-style-type: none;
  cursor: pointer;
}

.main_filter_menu summary:hover {
  color: #f16d7f;
}

.main_filter_menu summary:hover path {
  fill: #f16d7f;
}

.main_filter_menu[open] > summary {
  color: #f16d7f;
}

.main_filter_menu[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.main_filter_menu[open] > summary path {
  fill: #f16d7f;
}

.main_filter_menu svg {
  margin-left: 10px;
}

.main_filter_dropdown_box {
  padding-top: 16px;
}

.dropdown_link_box {
  padding-top: 24px;
}

.dropdown_link {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #646464;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 28px;
  margin-left: 34px;
}

.dropdown_link:hover {
  color: #f16d7f;
}

.filter_dropdown_box {
  background: white;
  position: absolute;
  z-index: 100000;
  width: 360px;
  -webkit-box-shadow: 2px 8px 12px #22222240;
          box-shadow: 2px 8px 12px #22222240;
  margin-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter_menu {
  margin-bottom: 18px;
}

.filter_menu summary {
  list-style-type: none;
  font-family: 'Lato';
  color: #6F6E6E;
  letter-spacing: 0.7px;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0 10px 15px;
  border-left: 5px solid #f16d7f;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter_menu[open] summary {
  color: #f16d7f;
}

.dropdown_list {
  margin-top: 24px;
}

.filter_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}

.filter_right {
  margin-right: 28px;
  position: relative;
}

.filter_right summary {
  list-style-type: none;
  letter-spacing: 0.7px;
  color: #6F6E6E;
  cursor: pointer;
}

.filter_right svg {
  margin-left: 10px;
}

.filter_right_dropdown_list {
  background: white;
  position: absolute;
  -webkit-box-shadow: 2px 8px 12px #22222240;
          box-shadow: 2px 8px 12px #22222240;
  margin-top: 4px;
  padding: 0 28px 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

.filter_right summary:hover path {
  fill: #f16d7f;
}

.checkbox_box label {
  font-weight: 400;
  color: #646464;
  font-family: 'Lato';
  font-size: 14px;
}

.checkbox_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.filter_right_checkbox {
  margin-right: 8px;
}

.checkbox_box:hover label {
  color: #f16d7f;
}

.products_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
}

.product_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 360px;
  margin-bottom: 30px;
}

.product_card_link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: #222;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_card_description p {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-transform: none;
  margin-top: 12px;
  margin-bottom: 18px;
}

.product_card_button {
  position: absolute;
  width: 100%;
  top: 175px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.card_button {
  border: 1px solid #fff;
  padding: 10px 10px 10px 8px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_button_text {
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 8px;
}

.card_button:hover {
  border: 1px solid #f16d7f;
}

.card_button:hover .card_button_text {
  color: #f16d7f;
}

.card_button:hover path {
  fill: #f16d7f;
}

.product_card_description {
  padding: 25px 28px 20px 15px;
  background-color: #F8F8F8;
}

.product_card_description h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.product_card:hover {
  -webkit-box-shadow: 2px 8px 5px #dadada;
          box-shadow: 2px 8px 5px #dadada;
}

.product_card:hover .product_card_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product_card:hover .product_card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_price {
  padding-top: 17px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.pagination_box {
  margin: 18px auto 0 auto;
}

.pagination {
  border: 1px solid #e5e5e5;
  padding: 12px 15px;
}

.pagination_page {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 16px;
  color: #e5e5e5;
  margin-right: 12px;
  font-weight: 400;
}

.pagination_page:hover {
  color: #f16d7f;
}

.pagination_page:hover path {
  fill: #f16d7f;
}

.last_pp_m {
  margin-right: 0px;
}

.for_text, .breadcrumbs_link, .filter_menu summary, .filter_right summary, .product_description h4, .pp_filter_summary, .burger_menu h2, .burger_menu_heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.brdcr_inner_pp {
  margin-bottom: 0;
}

.main_content {
  position: relative;
}

.carousel_inner {
  height: 770px;
}

.carousel_item {
  margin: 0 auto;
  background-color: #f7f7f7;
  padding-top: 10px;
  height: 770px;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel_item img {
  height: 95%;
}

.carousel_controls_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 360px;
  width: 100%;
}

.carousel_icon path {
  fill: #222;
}

.carousel_control:hover .carousel_icon path {
  fill: #f16d7f;
}

.carousel_control {
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 12px 16px;
  cursor: pointer;
}

.product-wrapper {
  position: relative;
  min-height: 500px;
}

.product_description {
  position: absolute;
  top: -10%;
  border: 1px solid #eaeaea;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  background-color: #fff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description_collection_box {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  position: relative;
}

.description_collection_line {
  background-color: #f16d7f;
  height: 3px;
  position: absolute;
  width: 60px;
  bottom: -3px;
  left: 44px;
}

.product_description h4 {
  font-family: 'Lato';
  color: #f16d7f;
}

.product_description h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 18px;
  font-weight: 400;
}

.description_text {
  width: 55%;
  font-size: 14px;
  margin-top: 50px;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
}

.product_properties_price {
  color: #f16d7f;
  font-size: 24px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 60px;
  font-weight: 400;
}

.product_properties span {
  color: #b9b9b9;
}

hr {
  width: 40%;
  background-color: #eaeaea;
  height: 1px;
  border: none;
  margin: 0;
}

.pp_filter_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.pp_filter {
  position: relative;
  margin-right: 10px;
}

.pp_filter_dropdown_list {
  position: absolute;
  background: white;
  -webkit-box-shadow: 2px 8px 12px #22222240;
          box-shadow: 2px 8px 12px #22222240;
  margin-top: 4px;
  padding: 6px 12px 12px 10px;
}

.pp_filter_summary {
  list-style-type: none;
  padding-right: 10px;
  cursor: pointer;
}

.pp_filter_summary svg {
  margin-left: 9px;
}

.pp_filter_checkbox {
  margin-top: 10px;
}

.pp_checkbox_box label {
  font-weight: 400;
  color: #646464;
  font-family: 'Lato';
  font-size: 14px;
}

.pp_checkbox_box:hover label {
  color: #f16d7f;
}

.pp_add_button_box {
  margin: 48px 0 64px 0;
}

.pp_add_button {
  border: 1px solid #f16d7f;
  padding: 10px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.pp_add_button path {
  fill: #f16d7f;
}

.pp_add_button_text {
  color: #f16d7f;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 12px;
}

.pp_add_button:hover {
  background-color: #f16d7f;
}

.pp_add_button:hover .pp_add_button_text {
  color: #fff;
}

.pp_add_button:hover svg path {
  fill: #fff;
}

.additional_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 194px;
  margin-bottom: 98px;
}

.carousel_control {
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
}

.for_text, .breadcrumbs_link, .filter_menu summary, .filter_right summary, .product_description h4, .pp_filter_summary, .burger_menu h2, .burger_menu_heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
  padding: 18px 0;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  position: relative;
}

.burger_menu_box:hover .burger_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger_menu {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 55px;
  left: 158px;
  padding: 16px 16px 16px 32px;
  width: 140px;
}

.burger_menu_close_icon svg {
  float: right;
}

.burger_menu_item_box {
  margin-top: 20px;
}

.burger_menu_item {
  margin-top: 8px;
}

.burger_menu_list {
  list-style-type: none;
  margin-left: 20px;
}

.burger_menu_heading {
  color: #f16d7f;
}

.burger_menu_item_link {
  color: #6F6E6E;
  font-size: 14px;
}

.top {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_right {
  padding-left: 64px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top_left {
  width: 50%;
}

.top_left img {
  height: 100%;
}

.top_content {
  border-left: 12px solid #f16d7f;
  margin-top: 40%;
  padding-left: 16px;
}

.top_content h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 0.8;
}

.lower_slider_text, .pink_slider_text {
  font-size: 32px;
  letter-spacing: 1px;
}

.pink_slider_text {
  color: #f16d7f;
}

.sale_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 64px;
}

.sale_item {
  position: relative;
}

.sale_item:hover .sale_heading {
  color: #cf4b5d;
}

.sale_image {
  width: 360px;
}

.sale_image_big {
  width: 1080px;
}

.sale_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale_p {
  color: #FFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.sale_heading {
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.featured_items {
  margin-top: 100px;
}

.featured_items h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.featured_items_text_line {
  color: #9f9f9f;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
}

.featured_items_items_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
}

.featured_items_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 320px;
  margin-bottom: 30px;
}

.featured_items_card_link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: #222;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured_items_card_description p {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-transform: none;
  margin-top: 12px;
  margin-bottom: 18px;
}

.featured_items_card_button {
  position: absolute;
  width: 100%;
  top: 175px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.card_button {
  border: 1px solid #fff;
  padding: 10px 10px 10px 8px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_button_text {
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 8px;
}

.card_button:hover {
  border: 1px solid #f16d7f;
}

.card_button:hover .card_button_text {
  color: #f16d7f;
}

.card_button:hover path {
  fill: #f16d7f;
}

.featured_items_card_description {
  padding: 25px 28px 20px 15px;
  background-color: #F8F8F8;
}

.featured_items_card_description h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.featured_items_card:hover {
  -webkit-box-shadow: 2px 8px 5px #dadada;
          box-shadow: 2px 8px 5px #dadada;
}

.featured_items_card:hover .featured_items_card_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.featured_items_card:hover .featured_items_card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured_items_card_price {
  padding-top: 17px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.featured_items_button_box {
  text-align: center;
  margin-top: 48px;
}

.featured_items_all_button {
  padding: 13px 31px;
  font-weight: 600;
  margin-top: 18px;
  cursor: pointer;
}

.featured_items_all_button {
  background-color: #f16d7f;
  color: #ffffff;
  font-family: 'Lato',sans-serif;
  border: 2px solid transparent;
  font-size: 15px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 0.4px;
}

.featured_items_all_button:hover {
  background-color: #fff;
  border: 2px solid #f16d7f;
  color: #f16d7f;
}

.offer_banner_box {
  background-color: #222;
  margin-top: 96px;
}

.offer_banner_inner_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0 115px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer_banner {
  text-align: center;
}

.offer_banner h3 {
  font-size: 20px;
  font-family: 'Lato';
  color: #fff;
  margin: 25px 0 17px 0;
}

.offer_banner p {
  color: #fff;
  font-size: 14px;
}

.second_banner h3 {
  margin: 20px 0 17px 0;
}

.third_banner h3 {
  margin: 20px 0 17px 0;
}

.top_footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.top_footer_opinion_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_footer_opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.top_footer_opinion_img {
  width: 96px;
}

.top_footer_opinion_text {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  color: #222224;
  margin-top: 30px;
  text-align: center;
}

.top_footer_opinion_text p {
  margin-bottom: 20px;
  line-height: 1.63;
}

.top_footer_opinion_text_name {
  color: #f16d7f;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}

.top_footer_opinion_text_info {
  color: #222224;
  font-size: 12px;
  font-style: normal;
  line-height: 1.63;
}

.top_footer_newsletter {
  text-align: center;
  margin-top: 148px;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.top_footer_newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.top_footer_newsletter h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 6px;
}

.top_footer_newsletter p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.71;
  margin: 0;
}

.newsletter_input {
  margin-top: 30px;
  border-radius: 23px 0 0 23px;
  border: none;
  padding: 15px 15px 15px 28px;
  font-family: Lato;
  font-size: 14px;
  background-color: #e1e1e1;
}

.newsletter_input:focus, .search_input:focus {
  outline: none;
}

.newsletter_submit {
  background-color: #f16d7f;
  color: #fff;
  font-family: 'Lato';
  font-size: 14px;
  padding: 13px 20px;
  border-radius: 0 23px 23px 0;
  border: 2px solid transparent;
  cursor: pointer;
  letter-spacing: 0.35px;
}

.newsletter_submit:hover {
  background-color: #cf4b5d;
}

.bottom_footer {
  background-color: #222;
  padding-top: 24px;
  padding-bottom: 24px;
}

.bottom_footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.bottom_footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom_footer_right_social_link {
  vertical-align: sub;
  color: #222;
}

.social_link_box {
  background-color: #fff;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  text-align: center;
}

.social_link_box .fa {
  vertical-align: sub;
}

.social_link_box:hover {
  background-color: #f16d7f;
  color: #fff;
}

.bottom_footer_left_text {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.4px;
}
/*# sourceMappingURL=style.css.map */